<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Petty Cash BOOk</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="images/wallet.png"
      style="border-radius: 2rem"/>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Sono:wght@200;300;400;500;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <link rel="stylesheet" href="css/bootstrap-icons.css" />

    <link rel="stylesheet" href="css/owl.carousel.min.css" />

    <link rel="stylesheet" href="css/owl.theme.default.min.css" />

    <link href="css/templatemo-pod-talk.css" rel="stylesheet" />
  </head>
  <body>
    <main>
      <!-- Navbar -->
      <nav class="navbar navbar-expand-md">
        <div class="container">
          <a class="navbar-brand me-lg-5 me-0" href="login">
            <img
              src="images/money-bag.png"
              class="logo-image nav-logo img-fluid"
              alt="petty cash Book"
              style="width: fit-content"
            />
          </a>
          <div class="ms-4">
            <a
              href="login"
              class="btn custom-btn custom-border-btn smoothscroll"
              >Get started</a
            >
          </div>
        </div>
      </nav>

      <!-- Login Section -->
      <section class="hero-section">
        <div class="container">
          <section class="vh-100 gradient-custom">
            <div class="container py-2 h-100">
              <div
                class="row d-flex justify-content-center align-items-center h-100"
              >
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                  <div class="card text-dark" style="border-radius: 1rem">
                    <div class="card-body p-5 text-center">
                      <div class="mb-md-5 mt-md-1 pb-1">
                        <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                        <form action="/login" method="post">
                          <div class="form-outline form-dark mb-2">
                            <label class="form-label" for="typeEmailX"
                              >Email</label
                            >
                            <input
                              type="email"
                              id="typeEmailX"
                              name="mail"
                              class="form-control form-control-lg"
                            />
                          </div>
                          <div class="form-outline form-dark mb-2">
                            <label class="form-label" for="typePasswordX"
                              >Password</label
                            >
                            <input
                              type="password"
                              id="typePasswordX"
                              name="password"
                              class="form-control form-control-lg"
                            />
                          </div>
                          <p class="small mb-5 pb-lg-2">
                            <a class="text-dark-50" href="#!"
                              >Forgot password?</a
                            >
                          </p>
                          <button
                            class="btn btn-outline-dark btn-lg px-5"
                            type="submit"
                          >
                            Login
                          </button>
                        </form>
                      </div>
                      <div>
                        <p class="mb-0">
                          Don't have an account?
                          <a href="/signup" class="text-dark-50 fw-bold"
                            >Sign Up</a
                          >
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </section>
    </main>
  </body>
</html>
